Home

<div>
    <a href="@Url.Action("Index", "Process")">Processes</a>
</div>

@section scripts {
    <script>
        //(() => {
        //    TokenTracker.waitForToken().then(() => {

        //        $.ajax({
        //            url: '/api/user',
        //            type: 'GET',
        //            success: function (response) {
        //                console.log('Data:', response);
        //            },
        //            error: function (xhr, status, error) {
        //                console.error('Error fetching data:', xhr.responseText);
        //            }
        //        });
        //    });
        //})();
    </script>
}

@*
    $(document).ready(function() {
              $('#submitBtn').click(function() {
                  // Get form data
                  var formData = {
                      name: $('#name').val(),
                      email: $('#email').val()
                  };

                  // Send POST request via jQuery
                  $.ajax({
                      url: '/your/api/endpoint', // Replace with your API endpoint
                      type: 'POST',
                      data: JSON.stringify(formData),
                      contentType: 'application/json; charset=utf-8',
                      dataType: 'json',
                      success: function(response) {
                          // Handle success response
                          $('#response').html('Success: ' + JSON.stringify(response));
                      },
                      error: function(xhr, status, error) {
                          // Handle error response
                          $('#response').html('Error: ' + xhr.responseText);
                      }
                  });
              });
          });
*@